body {
    font-family: 'Roboto Condensed', serif;
}

.main {
    display: inline-flex;
    /*margin: 10%;*/
}

.canvas-container-master {
    text-align: center;
    border: 5px solid pink;
}

.rotating-master-guide {
    margin: 20px 40px;
    max-width: 5%;
    text-align: center;
}

h5 {
    margin-bottom: 10px;
}

.user {
    padding: 7px 15px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    background: #EE92C2;
    margin: 10px 0;
}

.guest {
    background: #F0C987;
    color: white;
}
